apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
  - name: Jaeger
    type: jaeger
    url: http://jaeger:16686
    access: proxy
    jsonData:
      timeInterval: "5s"
  - name: Loki
    type: loki
    url: http://loki:3100
    access: proxy
    jsonData:
      timeInterval: "5s"
